*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

footer {
	background-color: #3D5A80;
}

.footer-container {
	width: 100%;
	padding: 70px 30px 20px;
}

.footer-icons {
	display: flex;
	justify-content: center;
}

.footer-icons a {
	text-decoration: none;
	padding: 10px;
	background-color: white;
	margin: 10px;
	border-radius: 50%;
}

.footer-icons a i{
	font-size: 2em;
	color: black;
	opacity: 0.9;
}

.footer-icons a:hover {
	background-color: #3D5A80;
	transition: 0.5s;
}

.footer-icons a:hover i{
	background-color: white;
	transition: 0.5s;
}

.footer-nav {
	margin: 30px 0;
}

.footer-nav ul {
	display: flex;
	justify-content: center;
}

.footer-nav ul li a {
	color: white;
	margin: 20px;
	text-decoration: none;
	font-size: 1.3em;
	opacity: 0.7;
	transition: 0.5s;
}

.footer-nav ul li a:hover{
	opacity: 1;
}

.footer-bottom {
	background-color: #3D5A80;
	padding: 20px;
	text-align: center;
}

.footer-bottom p {
	color: white;
}

/* Header Color Palettes
   1. #3D5A80
   2. #98C1D9
   3. #E0FBFC
   4. #EE6C4D */

.navbar{
	background: #3D5A80; font-family: calibri; padding-right: 15px;padding-left: 15px;
}
.navdiv{
	display: flex; align-items: center; justify-content: space-between;
}
.logo a{
	font-size: 35px; font-weight: 600; color: white;
}
li{
	list-style: none; display: inline-block;
}
li a{
	color: white; font-size: 18px; font-weight: bold; margin-right: 25px;
}
button{
	background-color: black; margin-left: 10px; border-radius: 10px; padding: 10px; width: 90px;
}
button a{
	color: white; font-weight: bold; font-size: 15px;
}